<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460856664873-o0reggadnic5rmabppf92jfvcsi72uf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460856664873-o0reggadnic5rmabppf92jfvcsi72uf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBakUMSIVNpHKQ3KAT2CngRFX1MGJkABqs</string>
	<key>GCM_SENDER_ID</key>
	<string>460856664873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanGom</string>
	<key>PROJECT_ID</key>
	<string>hang-c1561</string>
	<key>STORAGE_BUCKET</key>
	<string>hang-c1561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460856664873:ios:3f0c5d0e165f3428264d38</string>
</dict>
</plist>